Source: kms_frame_saver
Section: utils
Priority: optional
Maintainer: Maintainer Name
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 pkg-config,
 kms-core-6.0-dev,
 kms-elements-6.0-dev,
 kms-filters-6.0-dev,
 libopencv-dev
Standards-Version: 3.9.4

Package: kms_frame_saver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: package description

Package: kms_frame_saver-dev
Architecture: any
Depends: kms_frame_saver (= ${binary:Version}),
  kms-core-6.0-dev,
  kms-elements-6.0-dev,
  kms-filters-6.0-dev,
  libopencv-dev
Description: dev package description
